body {
    margin: 0;
    padding: 0;
    background-image: url("../Bilder/Hintergrundbild.jpg");
    background-repeat: repeat-x;
    background-color: #E2F0Ff;
    font-family: Arial, Helvetica, sans-serif;
}

body a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

body a:hover {
    color: #FFFFFF;
}

#RechteSpalte img {
    padding-top: 10px;
}

#zentrieren{
    margin: 0px auto auto auto;
    width: 1800px;
    border: 7px solid #5191db00;
}

#kopf {
    height: 100px;
    background-color: #1f1d1c88;
}

#navi {
    text-align:center;
    padding: 10px 0px 10px ;
}

#navi li{
    font-size: 1.7em;
    font-weight:bold;
    list-style: none;
    display: inline;
}

#InnhaltGesamt {
    position: relative;
    overflow: hidden;
    background:#e2f0ff6e;
}

#LinkeSpalte {
    float: left;
    width: 275px;
    margin-left: 30px;
    color: #000000;
    font-size: 1.2em;
}

#RechteSpalte {
    text-align:center;
	list-style: none;
    float: left;
    width: 370px;
    margin-right: 30px;
    height: 125px;
	margin-top: 140px;
	margin-left: 560px;
	color:rgba(255,238,220,1.00);
}
#navi {
    background-color: #1f1d1c88;
    float:inherit;
}


#FussZeile {
	background-color:;
}

#FussZeile {
    height: 70px;
    padding: 50px;
    clear: both;
}

#FussZeile a{
    font-weight:bold;
    padding:50px;
    text-decoration:none;
    color: #FFFFFF;
}

#FussZeile a:hover {
    color: #000000;
    background-color: #00000000;
}

.AbstandLinks {
    margin-left: 80px;
}
